.menu {
  display: flex;
  justify-content: center;
  z-index: 10;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 70px;
  left: 0px;
  transform: translateY(-100%);
  transition: transform 0.5s;
  background-color: white;
}
.menu.active {
  transform: translateY(0);
}
.container {
  border-radius: 20px;
  margin: 15px 15px 15px 15px;
  border: solid 2px rgb(128, 128, 128);
  width: 100vw;
  height: 88vh;
}
.link_tests {
  font-size: 24px;
  padding: 35px 0px 10px 30px;
  text-align: start;
}
